In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
# Cria um dataframe com os dados baixados do site da ANM 
# https://app.anm.gov.br/DadosAbertos/ARRECADACAO/

df = pd.read_csv("CEFEM Arrecardacao.csv", sep=",")
df.head()

,Unnamed: 0,Ano,Mês,Substância,UF,Município,ValorRecolhido
0,0,2002,8,BASALTO,RS,TRÊS DE MAIO,"206,41"
1,1,2003,5,AREIA,GO,SÃO LUÍS DE MONTES BELOS,"34,33"
2,2,2003,5,MINÉRIO DE FERRO,MG,CONGONHAS,"33065,2"
3,3,2003,5,MINÉRIO DE FERRO,MG,CONGONHAS,"7187,67"
4,4,2003,5,ARGILA P/CER. VERMELH,BA,GUANAMBI,"10,09"

In [3]:
#subistui o separador decimal dos dados, em python, o padrão é usar  ponto(.) como separador decimal
df["ValorRecolhido"] = df["ValorRecolhido"].str.replace(",", ".")

In [4]:
df.head()

,Unnamed: 0,Ano,Mês,Substância,UF,Município,ValorRecolhido
0,0,2002,8,BASALTO,RS,TRÊS DE MAIO,206.41
1,1,2003,5,AREIA,GO,SÃO LUÍS DE MONTES BELOS,34.33
2,2,2003,5,MINÉRIO DE FERRO,MG,CONGONHAS,33065.2
3,3,2003,5,MINÉRIO DE FERRO,MG,CONGONHAS,7187.67
4,4,2003,5,ARGILA P/CER. VERMELH,BA,GUANAMBI,10.09

In [5]:
df.dtypes

Unnamed: 0         int64
Ano                int64
Mês                int64
Substância        object
UF                object
Município         object
ValorRecolhido    object
dtype: object

In [6]:
df["ValorRecolhido"] = df["ValorRecolhido"].astype("float")

In [7]:
df.dtypes

Unnamed: 0          int64
Ano                 int64
Mês                 int64
Substância         object
UF                 object
Município          object
ValorRecolhido    float64
dtype: object

In [8]:
df["ValorRecolhido"].describe()

count    1.885251e+06
mean     2.726793e+04
std      8.167515e+05
min      1.000000e-02
25%      8.680000e+01
50%      3.278900e+02
75%      1.516245e+03
max      9.977046e+07
Name: ValorRecolhido, dtype: float64

In [9]:
anoagrupado = df.groupby("Ano")["ValorRecolhido"].sum().reset_index()

In [10]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [11]:
anoagrupado.head()

    Ano  ValorRecolhido
0  2002          206.41
1  2003    140210148.01
2  2004    322899052.80
3  2005    405381318.91
4  2006    465061703.74

In [ ]:
fig = px.bar(anoagrupado, x="Ano", y="ValorRecolhido")
fig.update_layout(xaxis_title="Ano", yaxis_title="Valor Recolhido", title="Valor recolhido por ano",
                 title_x=0.5,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()

In [ ]:
df['Ano/mes'] = pd.to_datetime(df['Ano'].astype(str) + '-' + df['Mês'].astype(str) + '-1')

In [ ]:
df.head()

In [ ]:
AnoMes = df.groupby("Ano/mes")["ValorRecolhido"].sum().reset_index()
AnoMes

In [ ]:
fig = px.line(AnoMes, x="Ano/mes", y="ValorRecolhido")
fig.update_layout(xaxis_title="Ano/mes", yaxis_title="Valor Recolhido", title="Valor recolhido por Ano/Mes",
                 title_x=0.5,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()

In [ ]:
estados = df.groupby("UF")["ValorRecolhido"].sum().reset_index().sort_values(
    by="ValorRecolhido", ascending=False)
fig = px.bar(estados, x="UF", y="ValorRecolhido")
fig.update_layout(xaxis_title="UF", yaxis_title="Valor Recolhido", title="Valor Recolhido Por Estado | Acumulado",
                 title_x=0.5,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()

In [ ]:
df2023 = df.loc[df["Ano"] == 2023]

In [ ]:
df2023["ValorRecolhido"].sum()

In [ ]:
estados23 = df2023.groupby("UF")["ValorRecolhido"].sum().reset_index().sort_values(
    by="ValorRecolhido", ascending=False)
fig = px.bar(estados23, x="UF", y="ValorRecolhido")
fig.update_layout(xaxis_title="UF", yaxis_title="Valor Recolhido", title="Valor Recolhido Por Estado | 2023",
                 title_x=0.5,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()

In [ ]:
municipios = df.groupby("Município")["ValorRecolhido"].sum().reset_index().sort_values(
    by="ValorRecolhido", ascending=False).head(20)

fig = px.bar(municipios, x="Município", y="ValorRecolhido")
fig.update_layout(xaxis_title="Município", yaxis_title="Valor Recolhido", 
                  title="Top 20 Municípios Com Maior Valor Recolhido | Acumulado",
                  title_x=0.5, xaxis_tickangle=-45,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()

In [ ]:
Substancia = df.groupby("Substância")["ValorRecolhido"].sum().reset_index().sort_values(
    by="ValorRecolhido", ascending=False).head(20)

fig = px.bar(Substancia, x="Substância", y="ValorRecolhido")
fig.update_layout(xaxis_title="Substância", yaxis_title="Valor Recolhido", 
                  title="Top 20 Substância Com Maior Valor Recolhido | Acumulado",
                  title_x=0.5, xaxis_tickangle=-45,
                 font=dict(color='black'),
                 paper_bgcolor='white',
                 plot_bgcolor='white',
                 margin=dict(l=10, r=10, t=60, b=10))
fig.update_xaxes(showline=True, linewidth=1, linecolor='black')
fig.update_yaxes(showline=True, linewidth=1, linecolor='black')
fig.update_layout(template="plotly_dark")
fig.show()